/* App.scss */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-root {
  display: flex;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 150px;
  min-height: 100vh;
  background-color: #f7f9fa;
}

.page-content {
  flex: 1;
  padding: 12px;
  background-color: #f7f9fa;
}
